* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --darker-grey: rgb(85, 85, 84);
  --lighter-grey: rgb(228, 228, 228);
  --main-white-color: #f4f4f4;
  --main-text-color: #333;
  --sec-text-color: #232323;
}

body {
  background-color: var(--main-white-color);
}

.header {
  width: 100%;
  height: 50vh;
  position: relative;
  overflow: hidden;

  &--background {
    position: absolute;
    transform: scale(1.5);
    top: 0;
    z-index: 1;
  }

  &--nav {
    width: 100%;
    height: 8vh;
    background-color: var(--main-white-color);
    position: absolute;
    top: 0%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: var(--main-text-color);
    z-index: 2;
    box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.75);
    &__title {
      margin-left: 1rem;
      font-size: 2rem;
      width: 20%;
    }

    &__links,
    &__user {
      font-size: 1.2rem;
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        text-decoration: none;
        color: var(--main-text-color);
        margin: 0rem 2rem;
        font-weight: 400;
      }
    }

    a {
      transition: 0.5s;
    }

    a:hover {
      filter: drop-shadow(0px 0px 10px #333);
    }
  }

  &--main {
    width: 100%;
    height: 42vh;
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: #f4f4f436;
    backdrop-filter: blur(10px);
  }
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  margin: 2rem 0rem;
  background-color: var(--main-white-color);

  &--filters {
    width: 20%;
    height: 100vh;
    border-right: 2px solid var(--main-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      list-style: none;
      margin-top: 5rem;
    }

    li {
      margin: 1rem 0rem;
    }
  }

  &--items {
    width: 80%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;

    &__title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__card {
      flex: 0 0 20%;
      height: 40vh;
      margin: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      border: solid 1px #333;
      transition: 0.5s;
      .itemBtn {
        cursor: pointer;
        z-index: 3;
      }
    }
    .cardImg {
      height: 70%;
      transition: 0.5s;
    }
    &__card:hover {
      box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.541);

      .cardImg {
        transform: scale(1.1) translateY(-10px);
        box-shadow: 0px -2px 5px rgba(51, 51, 51, 0.534);
      }
    }
  }
  &--selected {
    width: 100%;
    height: 100vh;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.35);
    position: fixed;
    top: 0;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
    &__modal {
      width: 50%;
      height: 60vh;
      display: flex;
      background-color: var(--main-white-color);
      box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.541);
      position: relative;
      .selectedClose {
        position: absolute;
        top: 5%;
        right: 5%;
        z-index: 4;
        cursor: pointer;
        font-weight: 700;
      }
      .selectedImg {
        height: 100%;
      }
      .selectedInfo {
        height: 80%;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        align-items: center;
        .selectedDesc {
          width: 70%;
        }
        .selectedSizes {
          width: 40%;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          .sizeSize {
            width: 3rem;
            height: 3rem;
            position: relative;
            .sizeLabel {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              pointer-events: none;
            }
            .selectedSizesInd {
              appearance: none;
              width: 3rem;
              height: 3rem;
              border: 1px solid var(--darker-grey);
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              transition: 0.5s;
              &:active,
              &:checked:active,
              &:checked {
                background: var(--darker-grey);
                border: 2px solid var(--sec-text-color);
                color: var(--main-white-color);
              }
            }
          }
        }
        .selectedBuy {
          width: 50%;
          height: 2.5rem;
          outline: none;
          border: none;
          border-radius: 0.2em;
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          background: none;
          border: 1px solid var(--darker-grey);
          transition: 0.5s;
          cursor: pointer;
          &:hover {
            background: var(--darker-grey);
            border: 2px solid var(--sec-text-color);
            color: var(--main-white-color);
          }
        }
      }
    }
  }
}

.about {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
  opacity: 0;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: fixed;
  overflow: hidden;
  top: 0;
  transition: 0.5s;

  &--modal {
    width: 50%;
    height: 50%;
    background-color: var(--main-white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    position: relative;

    &__close {
      position: absolute;
      top: 5%;
      right: 5%;
      cursor: pointer;
    }
  }

  &--info {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &__text {
      width: 50%;
      height: 100%;
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      flex-direction: column;
      text-align: center;

      p {
        width: 70%;
      }
    }

    img {
      height: 90%;
    }
  }
}

.login {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
  display: none;
  opacity: 0;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: fixed;
  overflow: hidden;
  top: 0;
  transition: 0.5s;
  color: var(--main-text-color);
  &--modal {
    width: 30%;
    height: 60vh;
    background-color: var(--lighter-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.541);
    .closeLogin {
      position: absolute;
      top: 5%;
      right: 5%;
      font-weight: 700;
      cursor: pointer;
      z-index: 2;
    }
    &__form {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      width: 100%;
      height: 100%;
      position: relative;
      opacity: 1;
      transition: 0.5s;
      hr {
        width: 100%;
        border: 1px solid var(--main-text-color);
      }
      .formLinks {
        width: 50%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
      }
      .forgotPw {
        font-size: 0.9rem;
        font-weight: 700;
        transition: all 0.5s;
        &:visited {
          color: var(--darker-grey);
        }
        &:hover {
          color: var(--sec-text-color);
        }
      }
      .iconInput {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -1rem;
      }
      .textInput {
        background: none;
        border: none;
        border-bottom: 2px solid var(--darker-grey);
        outline: none;
        margin-top: 0.5rem;
        font-size: 1rem;
        color: var(--main-text-color);
        width: 60%;
        font-family: "Roboto", sans-serif;
        transition: 0.5s ease-in;
        &:focus {
          border-bottom: 2px solid var(--main-white-color);
        }
        &::placeholder {
          color: var(--main-text-color);
        }
      }

      .fas,
      .far {
        margin-right: 0.5rem;
        margin-top: 0.5rem;
      }

      #logBtn {
        width: 50%;
        height: 2.5rem;
        outline: none;
        border: none;
        border-radius: 0.2em;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        background: none;
        border: 1px solid var(--darker-grey);
        transition: 0.5s;
        cursor: pointer;
        &:hover {
          background: var(--darker-grey);
          border: 2px solid var(--sec-text-color);
          color: var(--main-white-color);
        }
      }
      #regLink {
        transition: 0.5s;
        font-weight: 700;
        &:visited {
          color: var(--darker-grey);
        }
        &:hover {
          color: var(--sec-text-color);
        }
      }
    }
    &__register {
      display: none;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.5s;
      .iconInput {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: -1rem;
      }
      .textInput {
        background: none;
        border: none;
        border-bottom: 2px solid var(--darker-grey);
        outline: none;
        margin-top: 0.5rem;
        font-size: 1rem;
        color: var(--main-text-color);
        width: 80%;
        font-family: "Roboto", sans-serif;
        transition: 0.5s ease-in;
        &:focus {
          border-bottom: 2px solid var(--main-white-color);
        }
        &::placeholder {
          color: var(--main-text-color);
          text-align: center;
        }
      }
      .fas,
      .far {
        margin-right: 0.5rem;
        margin-top: 0.5rem;
      }
      #regBtn {
        width: 75%;
        height: 2.5rem;
        outline: none;
        border: none;
        border-radius: 0.2em;
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        background: none;
        border: 1px solid var(--darker-grey);
        transition: 0.5s;
        cursor: pointer;
        &:hover {
          background: var(--darker-grey);
          border: 2px solid var(--sec-text-color);
          color: var(--main-white-color);
        }
      }
    }
  }
}

.footer {
  width: 100%;
  min-height: 20vh;
  background-color: var(--main-text-color);
  color: var(--main-white-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &--info,
  &--links {
    width: 15%;
    text-align: center;
  }
  &--info {
    p {
      margin: 1rem;
    }
    i {
      margin-right: 1rem;
    }
  }
  &--links {
    ul {
      list-style: none;
    }
    li {
      margin-top: 1rem;
      font-size: 1.1rem;
    }
    i {
      margin-right: 1rem;
    }
    a {
      color: var(--main-white-color);
      text-decoration: none;
    }
  }
}

@media (max-width: 600px) {
  .header {
    height: 30vh;
    &--main {
      height: 22vh;
      position: absolute;
      bottom: 0;
    }
    &--nav {
      &__links {
        a {
          display: none;
        }
      }
      &__user {
        width: 35%;
        a {
          margin-left: 1rem;
        }
      }
    }
  }

  .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--filters {
      border: none;
      height: fit-content;
      display: flex;
      flex-direction: row;
      width: 80%;
      justify-content: space-evenly;
      margin-bottom: 2rem;
      padding-bottom: 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.541);
      &__interactive {
        display: none;
      }
    }
    &--items {
      margin: 0;
      width: 100%;
      justify-content: center;
      align-items: center;
      &__card {
        width: 100%;
        margin: 1rem;
        flex: 0 0 70%;
      }
    }
    &--selected {
      &__modal {
        flex-direction: column;
        width: 90%;
        height: 90vh;
        align-items: center;
        justify-content: space-evenly;
        .selectedImg {
          width: 63%;
          height: 40%;
        }
        .selectedInfo {
          width: 100%;
          height: 55%;
          .selectedDesc {
            width: 90%;
          }
        }
      }
    }
  }
  .login {
    &--modal {
      width: 90%;
      .regText {
        text-align: center;
      }
    }
  }
  .footer {
    flex-direction: column;
    &--info {
      width: 80%;
      border-bottom: 2px solid #f4f4f475;
    }
    &--links {
      width: 80%;
      margin-bottom: 2rem;
    }
  }
}
